html,
body {
  background: url(../img/pcBg.png) no-repeat;
  background-size: cover;
}
.container {
  width: 100%;
  max-width: 1920px;
}

.twoCon {
  padding-top: 111px;
}

.twoCon .towTit {
  font-size: 85px;
  font-family: fontPm;
  text-align: center;
  font-weight: bold;
}

.percentage {
  padding: 0 144px;
  margin-top: 88px;
}

.percentage li {
  float: left;
  width: 33.33%;
  text-align: center;
}

.percentage li .p1 {
  font-size: 87px;
  font-weight: bold;
  font-family: fontPm;
}

.percentage li .p2 {
  font-size: 22px;
  font-weight: bold;
  font-family: fontSy;
  line-height: 36px;
  letter-spacing:1.5px;
}

.percentage li .p2 span {
  color: #FFDA39;
}


.percentage li .p3 {
  font-size: 17px;
  font-family: fontSy;
  font-weight: bold;
  color: #CCCCCC;
  line-height: 36px;
  letter-spacing:1.5px;
}

.subject {
  margin-top: 45px;
}

.subject h3 {
  font-size: 26px;
  font-family: fontSy;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  letter-spacing:1.5px;
}

.subject h3 span {
  color: #FFDA39;
  font-family: fontPm;
}

.subject .subjectImg {
  display: block;
  width: 90%;
  margin: 60px auto 0;
}

.subject p {
  font-size: 22px;
  line-height: 21px;
  margin-top: 20px;
  text-align: center;
  font-family: fontPm;
}

.subject p span {
  font-family: fontPm;
}

.bottomText {
  width: 76%;
  margin: 70px auto 0;
  font-size: 17px;
  font-family: fontSy;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 36px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  padding-bottom: 40px;
  letter-spacing:1.5px;
  word-spacing: 4px;
}

.tools {
  width: 76%;
  margin: 45px auto 0;
  padding-bottom: 50px;

  font-size: 17px;
  font-family: fontSy;
  font-weight: bold;
  color: #FFDA39;
  line-height: 36px;

}

.tools a {
  font-family: fontSy;
  color: #FFDA39;
  display: block;
  text-decoration: underline;
  word-spacing: 4px;
}

.tan{
  display: none;
}


@media screen and (max-width:768px) {

  html,
  body {
    background: url(../img/mpBg.png) no-repeat;
    background-size: cover;
    width: 100%;
  }

  .container {
    padding: 0;
  }
  
  .tan {
    z-index: 2;
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    background: url(../img/mpBg.png) no-repeat;
    background-size: cover;
    width: 100%;
  }
  .tanNav {
    height: 0.86rem;
    padding: 0 0.28rem;
    position: relative;
  }

  .tanNav .tanLogo {
    float: left;
    width: 24.8%;
    margin-top: 0.12rem;
  }

  .tanNav .tanHeng {
    float: right;
    /* width: 10%; */
    margin-top: 0.24rem;
    width: 0.44rem;
    height: 0.38rem;
  }

  .tanNav span{
    position: absolute;
    right:1.3rem;
    top:0.24rem;
  }

  .tan ul li {
    font-size: 0.28rem;
    color: #fff;
    margin-top: 1.10rem;
    text-align: center;
  }
  .lang{
    display: none;
  }


  .mpNav {
    height: 0.86rem;
    padding: 0 0.28rem;
  }

  .mpNav img:first-child {
    float: left;
    width: 24.8%;
    margin-top: 0.12rem;
  }

  .mpNav img:last-child {
    float: right;
    margin-top: 0.24rem;
    width: 0.44rem;
    height: 0.38rem;
  }

  .twoCon {
    padding-top: 0.54rem;
  }

  .twoCon .towTit {
    font-size: 0.60rem;
  }

  .percentage {
    padding: 0 0;
    margin-top: 0.4rem;
  }

  .percentage li {
    float: none;
    width: 100%;
    margin-top: 0.72rem;
  }

  .percentage li .p1 {
    font-size: 0.76rem;
  }

  .percentage li .p2 {
    font-size: 0.28rem;
    line-height: 0.5rem;
  }

  .percentage li .p3 {
    font-size: 0.18rem;
    font-family: fontSy;
    font-weight: normal;
    color: #CCCCCC;
    line-height: 0.5rem;
  }

  .subject h3 {
    font-family: fontPm;
    font-size: 0.18rem;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 0.40rem;
    margin-bottom: 0.40rem;
  }

  .subject {
    margin-top: 0.72rem;
  }

  .subjectMpImg {
    display: block;
    width: 94%;
    margin: 0.32rem auto;
  }

  .subject p {
    font-size: 0.22rem;
    line-height: 0.42rem;
    margin-top: 0.34rem;
    font-family: fontSy;
  }

  .subject p span {
    display: block;
    font-family: fontSy;
  }

  .bottomText {
    width: 90%;
    margin: 0.78rem auto 0;
    font-size: 0.20rem;
    font-family: fontSy;
    font-weight: normal;
    line-height: 0.36rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    padding-bottom: 0.40rem;
  }

  .tools {
    width: 90%;
    margin: 0.36rem auto 0;
    padding-bottom: 0.50rem;
    font-size: 0.20rem;
    font-family: fontPm;
    font-weight: normal;
    line-height: 0.36rem;
  }

  .tools a {
    color: #FFDA39;
    display: block;
    text-decoration: underline;
  }

}